<div class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">
                Paginas favoritas
            </h1>
            <h3 class="mb-5">
                <em>
                    Guardar nuevo enlace
                </em>
            </h3>
            <a href="/ingresar" class="btn btn-primary" style="background-color:teal;">
                Vamos :)
            </a> 
        </div>
    </header>
</div>