<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Enlaces favoritos</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto ml-8">
            {{#if user}}

                <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Info
                </button>
                <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/enlaces">Todos los enlaces</a></li>
                    <li><a class="dropdown-item" href="/enlaces/agregar">Nuevo enlace</a></li>
                </ul>
                </div>

                <div class="nav-item">
                    <a href="/perfil" class="nav-link">Perfil</a>
                </div>
                <div class="nav-item">
                    <a href="/cerrar" class="nav-link">cerrar secion</a>
                </div>
            {{else}}
                <div class="nav-item">
                    <a href="/ingresar" class="nav-link">Ingresar</a>
                </div>
                <div class="nav-item">
                    <a href="/registro" class="nav-link">Registro</a>
                </div>

            {{/if}}
        </ul>
        </div>
        </div>
</div>
</nav>
